# Tests cortitos

### Importamos la librerías necesarias

In [1]:
import subprocess
from tqdm import tqdm

### Definimos las funciones necesarias para correr las funciones de C++ y chequearlas

In [2]:
# Corre alguna de las funciones de C++ (especificando el metodo segun el README.md),
# guarda el archivo de salida en la misma carpeta y devuelve el tiempo de computo.
def runMethod(filePATH, method, outputPATH):
    process = subprocess.run(['./tp01', filePATH, outputPATH, str(method)])


def equalWithError(a, b, e):
    ans = True
    if (a + e < b - e or a - e > b + e):
        ans = False
    return ans


# Chequea que el output de un test sea igual que el esperado.
def checkOutput(outputPATH, expectedPATH, error):
    output = open(outputPATH, 'r').readlines()
    expected = open(expectedPATH, 'r').readlines()
    
    if len(output) != len(expected):
        return 'ERROR: El output y el expected no miden lo mismo.' 
    else:
        ans = True
        for line in range(len(output)):
            if not equalWithError(float(output[line]), float(expected[line]), error):
                ans = False
        if ans:
            return f'El output es igual al esperado con un error de {error}.'
        else:
            return f'El output no es igual al esperado.'
    output.close()
    expected.close()

### Usamos los tests que armamos para chequear las funciones

In [3]:
testWPPATH = 'src/TestsWP/'
testCMMPATH = 'src/TestsCMM/'
tests = ['test1', 'test2', 'test-prob-1', 'test-prob-2']

error = 1e-4

In [4]:
for i in range(len(tests)):
    runMethod(testWPPATH + tests[i] + '.in', 1, testWPPATH + tests[i] + '.out')
    runMethod(testCMMPATH + tests[i] + '.in', 0, testCMMPATH + tests[i] + '.out')

print('-------- WP Tests --------')
for i in range(len(tests)):
    print(tests[i] + ': ' + checkOutput(testWPPATH + tests[i] + '.out', testWPPATH + tests[i] + '.expected', error))

print('-------- CMM Tests --------')
for i in range(len(tests)):
    print(tests[i] + ': ' + checkOutput(testCMMPATH + tests[i] + '.out', testCMMPATH + tests[i] + '.expected', error))

-------- WP Tests --------
test1: El output es igual al esperado con un error de 0.0001.
test2: El output es igual al esperado con un error de 0.0001.
test-prob-1: El output es igual al esperado con un error de 0.0001.
test-prob-2: El output es igual al esperado con un error de 0.0001.
-------- CMM Tests --------
test1: El output es igual al esperado con un error de 0.0001.
test2: El output es igual al esperado con un error de 0.0001.
test-prob-1: El output es igual al esperado con un error de 0.0001.
test-prob-2: El output es igual al esperado con un error de 0.0001.

# Tests posta

### Definimos los archivos con equipos de NBA (Basketball) y jugadores de ATP (Tennis).

In [5]:
import pandas as pd


teamsNBA = pd.read_csv('data/nba_2016_teams.csv', names=['id', 'team'])
scoresNBA = pd.read_csv('data/nba_2016_scores.csv', names=['???', 'date', 'team1', 'loca1', 'score1', 'team2', 'local2', 'score2'])

## NBA

### Usemos el csv que tenemos con los partidos de la NBA (*National Basketball Association*).

In [6]:
print('------ Equipos ------')
print(teamsNBA)
print('------ Partidos ------')
print(scoresNBA)

------ Equipos ------
    id            team
0    1         Atlanta
1    2          Boston
2    3        Brooklyn
3    4       Charlotte
4    5         Chicago
5    6       Cleveland
6    7          Dallas
7    8          Denver
8    9         Detroit
9   10    Golden_State
10  11         Houston
11  12         Indiana
12  13     LA_Clippers
13  14       LA_Lakers
14  15         Memphis
15  16           Miami
16  17       Milwaukee
17  18       Minnesota
18  19     New_Orleans
19  20        New_York
20  21   Oklahoma_City
21  22         Orlando
22  23    Philadelphia
23  24         Phoenix
24  25        Portland
25  26      Sacramento
26  27     San_Antonio
27  28         Toronto
28  29            Utah
29  30      Washington
------ Partidos ------
         ???      date  team1  loca1  score1  team2  local2  score2
0     736263  20151027      9     -1     106      1       1      94
1     736263  20151027      5      1      97      6      -1      95
2     736263  20151027     10      1     111     19      -1      95
3     736264  20151028     30     -1      88     22       1      87
4     736264  20151028      2      1     112     23      -1      95
...      ...       ...    ...    ...     ...    ...     ...     ...
997   736403  20160315     22      1     116      8      -1     110
998   736403  20160315      3      1     131     23      -1     114
999   736403  20160315     28     -1     107     17       1      89
1000  736403  20160315     27      1     108     13      -1      87
1001  736403  20160315     26     -1     106     14       1      98

[1002 rows x 8 columns]

### Hagamos un archivo .in que tenga la info de los partidos.

In [7]:
file = open('data/nba_2016_scores.in', 'w+')
file.write(str(len(teamsNBA)) + ' ' + str(len(scoresNBA)) + '\n')

for i in range(len(scoresNBA)):
    file.write(str(scoresNBA.loc[i, 'date']) + ' ' + str(scoresNBA.loc[i, 'team1']) + ' ' + 
               str(scoresNBA.loc[i, 'score1']) + ' ' + str(scoresNBA.loc[i, 'team2']) + ' ' + 
               str(scoresNBA.loc[i, 'score2']) + '\n')
file.close()

### Ejecutemos las funciones WP y CMM para estos equipos.

In [8]:
runMethod('data/nba_2016_scores.in', 0, 'data/nba_2016_scores_0.out')
runMethod('data/nba_2016_scores.in', 1, 'data/nba_2016_scores_1.out')

### Veamos el ranking según WP y CMM.

In [9]:
fileCMM = open('data/nba_2016_scores_0.out', 'r').readlines()
fileWP = open('data/nba_2016_scores_1.out', 'r').readlines()
ratingCMM = []
ratingWP = []
for line in fileCMM:
    ratingCMM.append(float(line))
for line in fileWP:
    ratingWP.append(float(line))

teamsNBA.insert(2, 'ratingCMM', ratingCMM)
teamsNBA.insert(3, 'ratingWP', ratingWP)
print(teamsNBA)

    id            team  ratingCMM  ratingWP
0    1         Atlanta   0.558822  0.567164
1    2          Boston   0.565690  0.582090
2    3        Brooklyn   0.290736  0.283582
3    4       Charlotte   0.558224  0.560606
4    5         Chicago   0.516007  0.507692
5    6       Cleveland   0.692428  0.712121
6    7          Dallas   0.502178  0.507463
7    8          Denver   0.420858  0.411765
8    9         Detroit   0.500250  0.507463
9   10    Golden_State   0.874063  0.909091
10  11         Houston   0.511327  0.507463
11  12         Indiana   0.547962  0.537313
12  13     LA_Clippers   0.629708  0.636364
13  14       LA_Lakers   0.236722  0.205882
14  15         Memphis   0.563176  0.582090
15  16           Miami   0.577367  0.582090
16  17       Milwaukee   0.435025  0.426471
17  18       Minnesota   0.319984  0.313433
18  19     New_Orleans   0.384521  0.363636
19  20        New_York   0.414393  0.411765
20  21   Oklahoma_City   0.655552  0.671642
21  22         Orlando   0.432244  0.439394
22  23    Philadelphia   0.150813  0.134328
23  24         Phoenix   0.298952  0.268657
24  25        Portland   0.515941  0.514706
25  26      Sacramento   0.412817  0.393939
26  27     San_Antonio   0.803976  0.850746
27  28         Toronto   0.659347  0.681818
28  29            Utah   0.487206  0.477612
29  30      Washington   0.483709  0.469697

In [10]:
print('------ Ranking CMM ------')

teamsNBA_ordered = teamsNBA.sort_values(by=['ratingCMM', 'ratingWP'], ascending=(False, False))
print(teamsNBA_ordered)

print('------ Ranking WP ------')

teamsNBA_ordered = teamsNBA.sort_values(by=['ratingWP', 'ratingCMM'], ascending=(False, False))
print(teamsNBA_ordered)

------ Ranking CMM ------
    id            team  ratingCMM  ratingWP
9   10    Golden_State   0.874063  0.909091
26  27     San_Antonio   0.803976  0.850746
5    6       Cleveland   0.692428  0.712121
27  28         Toronto   0.659347  0.681818
20  21   Oklahoma_City   0.655552  0.671642
12  13     LA_Clippers   0.629708  0.636364
15  16           Miami   0.577367  0.582090
1    2          Boston   0.565690  0.582090
14  15         Memphis   0.563176  0.582090
0    1         Atlanta   0.558822  0.567164
3    4       Charlotte   0.558224  0.560606
11  12         Indiana   0.547962  0.537313
4    5         Chicago   0.516007  0.507692
24  25        Portland   0.515941  0.514706
10  11         Houston   0.511327  0.507463
6    7          Dallas   0.502178  0.507463
8    9         Detroit   0.500250  0.507463
28  29            Utah   0.487206  0.477612
29  30      Washington   0.483709  0.469697
16  17       Milwaukee   0.435025  0.426471
21  22         Orlando   0.432244  0.439394
7    8          Denver   0.420858  0.411765
19  20        New_York   0.414393  0.411765
25  26      Sacramento   0.412817  0.393939
18  19     New_Orleans   0.384521  0.363636
17  18       Minnesota   0.319984  0.313433
23  24         Phoenix   0.298952  0.268657
2    3        Brooklyn   0.290736  0.283582
13  14       LA_Lakers   0.236722  0.205882
22  23    Philadelphia   0.150813  0.134328
------ Ranking WP ------
    id            team  ratingCMM  ratingWP
9   10    Golden_State   0.874063  0.909091
26  27     San_Antonio   0.803976  0.850746
5    6       Cleveland   0.692428  0.712121
27  28         Toronto   0.659347  0.681818
20  21   Oklahoma_City   0.655552  0.671642
12  13     LA_Clippers   0.629708  0.636364
15  16           Miami   0.577367  0.582090
1    2          Boston   0.565690  0.582090
14  15         Memphis   0.563176  0.582090
0    1         Atlanta   0.558822  0.567164
3    4       Charlotte   0.558224  0.560606
11  12         Indiana   0.547962  0.537313
24  25        Portland   0.515941  0.514706
4    5         Chicago   0.516007  0.507692
10  11         Houston   0.511327  0.507463
6    7          Dallas   0.502178  0.507463
8    9         Detroit   0.500250  0.507463
28  29            Utah   0.487206  0.477612
29  30      Washington   0.483709  0.469697
21  22         Orlando   0.432244  0.439394
16  17       Milwaukee   0.435025  0.426471
7    8          Denver   0.420858  0.411765
19  20        New_York   0.414393  0.411765
25  26      Sacramento   0.412817  0.393939
18  19     New_Orleans   0.384521  0.363636
17  18       Minnesota   0.319984  0.313433
2    3        Brooklyn   0.290736  0.283582
23  24         Phoenix   0.298952  0.268657
13  14       LA_Lakers   0.236722  0.205882
22  23    Philadelphia   0.150813  0.134328

## EFL

### Usemos el csv que tenemos con los partidos de la Premier League de la EFL (*English Football League*)

In [19]:
dataEFL = pd.read_csv('data/Liga_Inglesa.csv')
print(dataEFL)

    Div        Date      HomeTeam        AwayTeam  FTHG  FTAG FTR  HTHG  HTAG  \
0    E0  10/08/2018    Man United       Leicester     2     1   H     1     0
1    E0  11/08/2018   Bournemouth         Cardiff     2     0   H     1     0
2    E0  11/08/2018        Fulham  Crystal Palace     0     2   A     0     1
3    E0  11/08/2018  Huddersfield         Chelsea     0     3   A     0     2
4    E0  11/08/2018     Newcastle       Tottenham     1     2   A     1     2
..   ..         ...           ...             ...   ...   ...  ..   ...   ...
375  E0  12/05/2019     Liverpool          Wolves     2     0   H     1     0
376  E0  12/05/2019    Man United         Cardiff     0     2   A     0     1
377  E0  12/05/2019   Southampton    Huddersfield     1     1   D     1     0
378  E0  12/05/2019     Tottenham         Everton     2     2   D     1     0
379  E0  12/05/2019       Watford        West Ham     1     4   A     0     2

    HTR  ... BbAv<2.5  BbAH  BbAHh  BbMxAHH  BbAvAHH  BbMxAHA  BbAvAHA  PSCH  \
0     H  ...     1.79    17  -0.75     1.75     1.70     2.29     2.21  1.55
1     H  ...     1.83    20  -0.75     2.20     2.13     1.80     1.75  1.88
2     A  ...     1.87    22  -0.25     2.18     2.11     1.81     1.77  2.62
3     A  ...     1.84    23   1.00     1.84     1.80     2.13     2.06  7.24
4     A  ...     1.81    20   0.25     2.20     2.12     1.80     1.76  4.74
..   ..  ...      ...   ...    ...      ...      ...      ...      ...   ...
375   H  ...     2.31    22  -1.50     1.98     1.91     2.01     1.95  1.32
376   A  ...     2.95    21  -2.00     2.52     2.32     1.72     1.64  1.30
377   H  ...     2.29    22  -1.50     2.27     2.16     1.80     1.73  1.37
378   H  ...     2.07    19  -0.50     2.13     2.08     1.85     1.80  1.91
379   A  ...     2.44    19  -0.50     2.25     2.19     1.78     1.72  2.11

     PSCD  PSCA
0    4.07  7.69
1    3.61  4.70
2    3.38  2.90
3    3.95  1.58
4    3.53  1.89
..    ...   ...
375  5.89  9.48
376  6.06  9.71
377  5.36  8.49
378  3.81  4.15
379  3.86  3.41

[380 rows x 62 columns]

### Asignémosle un id a cada equipo de la liga.

In [20]:
team_to_id = {}
id_to_team = {}
i = 1
for j in tqdm(range(len(dataEFL.loc[:, 'HomeTeam']))):
    home = dataEFL.loc[j, 'HomeTeam']
    away = dataEFL.loc[j, 'AwayTeam']
    if not (home in team_to_id):
        team_to_id.update({home: i})
        id_to_team.update({i: home})
        i += 1
    if not (away in team_to_id):
        team_to_id.update({away: i})
        id_to_team.update({i: away})
        i += 1


print(team_to_id)
print(id_to_team)

100%|██████████| 380/380 [00:00<00:00, 59349.67it/s]

{'Man United': 1, 'Leicester': 2, 'Bournemouth': 3, 'Cardiff': 4, 'Fulham': 5, 'Crystal Palace': 6, 'Huddersfield': 7, 'Chelsea': 8, 'Newcastle': 9, 'Tottenham': 10, 'Watford': 11, 'Brighton': 12, 'Wolves': 13, 'Everton': 14, 'Arsenal': 15, 'Man City': 16, 'Liverpool': 17, 'West Ham': 18, 'Southampton': 19, 'Burnley': 20}
{1: 'Man United', 2: 'Leicester', 3: 'Bournemouth', 4: 'Cardiff', 5: 'Fulham', 6: 'Crystal Palace', 7: 'Huddersfield', 8: 'Chelsea', 9: 'Newcastle', 10: 'Tottenham', 11: 'Watford', 12: 'Brighton', 13: 'Wolves', 14: 'Everton', 15: 'Arsenal', 16: 'Man City', 17: 'Liverpool', 18: 'West Ham', 19: 'Southampton', 20: 'Burnley'}

### Ahora armemos el .in. Ya que en el fútbol pueden haber empates entonces pongamos al equipo visitante siempre a la derecha y al local a la izquierda. Por cómo está armado el algoritmo de CMM esto nos asegura que en caso de empate el ganador sea el equipo visitante, lo cual nos pareció una solución justa.

In [21]:
file = open('data/Liga_Inglesa.in', 'w+')
file.write(str(len(team_to_id)) + ' ' + str(len(dataEFL)) + '\n')

for i in range(len(dataEFL)):
    file.write(str(1) + ' ' + str(team_to_id[dataEFL.loc[i, 'HomeTeam']]) + ' ' + 
               str(dataEFL.loc[i, 'FTHG']) + ' ' + str(team_to_id[dataEFL.loc[i, 'AwayTeam']]) + ' ' + 
               str(dataEFL.loc[i, 'FTAG']) + '\n')
file.close()

### Ejecutemos las funciones WP y CMM para estos equipos.

In [22]:
runMethod('data/Liga_Inglesa.in', 0, 'data/Liga_Inglesa_0.out')
runMethod('data/Liga_Inglesa.in', 1, 'data/Liga_Inglesa_1.out')

### Armemos una tabla con los equipos de la liga.

In [23]:
teamsEFL = pd.DataFrame(columns=['id', 'team'])
teamsidList = []
teamsNameList = []

for teamid in tqdm(id_to_team):
    teamsidList.append(teamid)
    teamsNameList.append(id_to_team[teamid])
    
teamsEFL['id'] = teamsidList
teamsEFL['team'] = teamsNameList
print(teamsEFL)

100%|██████████| 20/20 [00:00<00:00, 84819.09it/s]

    id            team
0    1      Man United
1    2       Leicester
2    3     Bournemouth
3    4         Cardiff
4    5          Fulham
5    6  Crystal Palace
6    7    Huddersfield
7    8         Chelsea
8    9       Newcastle
9   10       Tottenham
10  11         Watford
11  12        Brighton
12  13          Wolves
13  14         Everton
14  15         Arsenal
15  16        Man City
16  17       Liverpool
17  18        West Ham
18  19     Southampton
19  20         Burnley

### Veamos el ranking según WP y CMM. También agreguemos el ranking "semi-oficial" que generamos con la función "league" en C++. Este ranking le asigna 3 puntos al equipo ganador y ninguno al perdedor al igual que en la liga oficial. A diferencia de la liga oficial, en caso de empate le asignamos 3 puntos al equipo visitante, por eso es "semi-oficial". Los resultados están guardados en "data/Liga_Modificada.out".

In [24]:
fileCMM = open('data/Liga_Inglesa_0.out', 'r').readlines()
fileWP = open('data/Liga_Inglesa_1.out', 'r').readlines()
fileSO = open('data/Liga_Modificada.out', 'r').readlines()
ratingCMM = []
ratingWP = []
ratingSO = []
for line in fileCMM:
    ratingCMM.append(float(line))
for line in fileWP:
    ratingWP.append(float(line))
for line in fileSO:
    ratingSO.append(float(line))

teamsEFL.insert(2, 'ratingCMM', ratingCMM)
teamsEFL.insert(3, 'ratingWP', ratingWP)
teamsEFL.insert(4, 'ratingSO', ratingSO)
print(teamsEFL)

    id            team  ratingCMM  ratingWP  ratingSO
0    1      Man United   0.571429  0.578947      66.0
1    2       Leicester   0.500000  0.500000      57.0
2    3     Bournemouth   0.380952  0.368421      42.0
3    4         Cardiff   0.333333  0.315789      36.0
4    5          Fulham   0.261905  0.236842      27.0
5    6  Crystal Palace   0.428571  0.421053      48.0
6    7    Huddersfield   0.214286  0.184211      21.0
7    8         Chelsea   0.619048  0.631579      72.0
8    9       Newcastle   0.523810  0.526316      60.0
9   10       Tottenham   0.595238  0.605263      69.0
10  11         Watford   0.500000  0.500000      57.0
11  12        Brighton   0.357143  0.342105      39.0
12  13          Wolves   0.547619  0.552632      63.0
13  14         Everton   0.523810  0.526316      60.0
14  15         Arsenal   0.642857  0.657895      75.0
15  16        Man City   0.857143  0.894737     102.0
16  17       Liverpool   0.880952  0.921053     105.0
17  18        West Ham   0.476190  0.473684      54.0
18  19     Southampton   0.357143  0.342105      39.0
19  20         Burnley   0.428571  0.421053      48.0

In [27]:
print('------ Ranking CMM ------')
teamsEFL_ordered = teamsEFL.sort_values(by='ratingCMM', ascending=False)
print(teamsEFL_ordered)

print('------ Ranking WP ------')
teamsEFL_ordered = teamsEFL.sort_values(by='ratingWP', ascending=False)
print(teamsEFL_ordered)

print('------ Ranking SO ------')
teamsEFL_ordered = teamsEFL.sort_values(by='ratingSO', ascending=False)
print(teamsEFL_ordered)

------ Ranking CMM ------
    id            team  ratingCMM  ratingWP  ratingSO
16  17       Liverpool   0.880952  0.921053     105.0
15  16        Man City   0.857143  0.894737     102.0
14  15         Arsenal   0.642857  0.657895      75.0
7    8         Chelsea   0.619048  0.631579      72.0
9   10       Tottenham   0.595238  0.605263      69.0
0    1      Man United   0.571429  0.578947      66.0
12  13          Wolves   0.547619  0.552632      63.0
13  14         Everton   0.523810  0.526316      60.0
8    9       Newcastle   0.523810  0.526316      60.0
1    2       Leicester   0.500000  0.500000      57.0
10  11         Watford   0.500000  0.500000      57.0
17  18        West Ham   0.476190  0.473684      54.0
5    6  Crystal Palace   0.428571  0.421053      48.0
19  20         Burnley   0.428571  0.421053      48.0
2    3     Bournemouth   0.380952  0.368421      42.0
11  12        Brighton   0.357143  0.342105      39.0
18  19     Southampton   0.357143  0.342105      39.0
3    4         Cardiff   0.333333  0.315789      36.0
4    5          Fulham   0.261905  0.236842      27.0
6    7    Huddersfield   0.214286  0.184211      21.0
------ Ranking WP ------
    id            team  ratingCMM  ratingWP  ratingSO
16  17       Liverpool   0.880952  0.921053     105.0
15  16        Man City   0.857143  0.894737     102.0
14  15         Arsenal   0.642857  0.657895      75.0
7    8         Chelsea   0.619048  0.631579      72.0
9   10       Tottenham   0.595238  0.605263      69.0
0    1      Man United   0.571429  0.578947      66.0
12  13          Wolves   0.547619  0.552632      63.0
13  14         Everton   0.523810  0.526316      60.0
8    9       Newcastle   0.523810  0.526316      60.0
1    2       Leicester   0.500000  0.500000      57.0
10  11         Watford   0.500000  0.500000      57.0
17  18        West Ham   0.476190  0.473684      54.0
5    6  Crystal Palace   0.428571  0.421053      48.0
19  20         Burnley   0.428571  0.421053      48.0
2    3     Bournemouth   0.380952  0.368421      42.0
11  12        Brighton   0.357143  0.342105      39.0
18  19     Southampton   0.357143  0.342105      39.0
3    4         Cardiff   0.333333  0.315789      36.0
4    5          Fulham   0.261905  0.236842      27.0
6    7    Huddersfield   0.214286  0.184211      21.0
------ Ranking SO ------
    id            team  ratingCMM  ratingWP  ratingSO
16  17       Liverpool   0.880952  0.921053     105.0
15  16        Man City   0.857143  0.894737     102.0
14  15         Arsenal   0.642857  0.657895      75.0
7    8         Chelsea   0.619048  0.631579      72.0
9   10       Tottenham   0.595238  0.605263      69.0
0    1      Man United   0.571429  0.578947      66.0
12  13          Wolves   0.547619  0.552632      63.0
13  14         Everton   0.523810  0.526316      60.0
8    9       Newcastle   0.523810  0.526316      60.0
1    2       Leicester   0.500000  0.500000      57.0
10  11         Watford   0.500000  0.500000      57.0
17  18        West Ham   0.476190  0.473684      54.0
5    6  Crystal Palace   0.428571  0.421053      48.0
19  20         Burnley   0.428571  0.421053      48.0
2    3     Bournemouth   0.380952  0.368421      42.0
11  12        Brighton   0.357143  0.342105      39.0
18  19     Southampton   0.357143  0.342105      39.0
3    4         Cardiff   0.333333  0.315789      36.0
4    5          Fulham   0.261905  0.236842      27.0
6    7    Huddersfield   0.214286  0.184211      21.0